.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  background: #eee;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar-header {
  text-align: center;
  padding: 10px;
}

.day {
  text-align: center;
  padding: 8px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.day:hover {
  background: rgb(0, 0, 255, 0.1);
}

.prev {
  cursor: pointer;
}

.current-day {
  background: rgb(25, 22, 233);
  color: #fff;
}

th {
  padding: 10px;
}

.empty-slot {
}
